<div class="new-todo-form">
    <form novalidate="novalidate" id="newTodoForm">
        <label for="newTodoInput">Enter a new todo</label>
        <input type="text" id="newTodoInput">
        <input type="submit" value="Add"/>
    </form>
</div